<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::header-fragment"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<style>
    .tagsinput{
    flex-grow:0.5;
    border-radius:5px;
    }
    .select2{
     flex-grow:0.5;
    }
    .select2-container .select2-selection--single{
    height:38px;
    }
</style>
<div class="wrapper">
    <div th:replace="admin/header::nav-fragment"></div>
    <div th:replace="admin/sidebar::sidebar-fragment"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Blog Publishing</h3>
                        <div class="card-body">
                            <!-- form start -->
                            <form id="BLogForm">
                                <div class="form-group" id="blog-header" style="display:flex;justify-content:space-around;flex-wrap:wrap;">
                                    <input type="hidden" id="blogId" name="blogId" th:value="${blog!=null and blog.blogId!=null }?${blog.blogId}: 0">
                                    <input type="text" style="flex-grow:0.5;"  required="true" placeholder="please input the Blog title" id="BlogTitle" name="BlogTitle" th:value="${blog!=null and blog.blogTitle!=null }?${blog.blogTitle}: ''"/>
                                    <input type="text" style="flex-grow:0.5;" required="true" placeholder="Custom path" name="BlogSuburl" id="BlogSuburl" th:value="${blog!=null and blog.blogSubUrl!=null}?${blog.blogSubUrl}:''"/>
                                </div>
                                <div class="form-group" style="display:flex;justify-content:space-around;flex-wrap:wrap;" >
                                    <input type="text"  style="flex-grow:0.5;" required="true" placeholder="Blog Tag" name="BlogTag" id="BlogTag" th:value="${blog!=null and blog.blogTags!=null}?${blog.blogTags}:''"/>
                                    <select
                                            class="select2"
                                            id="blogCategoryId"
                                            name="blogCategoryId"
                                            data-placeholder="Please select category..."
                                    >
                                        <th:block th:if="${null == categories}">
                                            <option value="0" selected="selected">default category</option>
                                        </th:block>
                                        <th:block th:unless="${null == categories}">
                                            <th:block th:each="c : ${categories}">
                                                <option th:value="${c.categoryId}" th:text="${c.categoryName}" th:selected="${null !=blog and null !=blog.blogCategoryId and blog.blogCategoryId==c.categoryId}?true:false">
                                                </option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group" id="blog-editormd">
                                    <textarea style="display:none;" th:utext="${null !=blog and null !=blog.blogContent}?${blog.blogContent}:''" ></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <img th:src="${null !=blog}?${blog.blogCoverImage}:@{/admin/dist/img/img-upload.png}" id="RandomCoverImg" name="RandomCoverImg" style="width:50%;">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div  id="CoverimgButton" >
                                        <button type="button" class="btn btn-info" style="margin-top: 5px;margin-bottom: 5px;" id="UploadCoverimg">
                                            <i class="fas fa-image"></i>&nbsp;Upload Cover Image</button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-info" style="margin-top: 5px;margin-bottom: 5px;" id="ChangeCoverimg">
                                            <i class="fa fa-random"></i>&nbsp;Random Cover Image</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Post Status:&nbsp;</label>
                                    <input type="radio" checked="true" id="publish"  value="1" name="PostStatus" th:checked="${null==blog||(null !=blog and null !=blog.blogStatus and blog.blogStatus==1)} ?true:false"/>&nbsp;Publish&nbsp;
                                    <input type="radio"  id="Draft" name="PostStatus" value="0" th:checked="${null !=blog and null !=blog.blogStatus and blog.blogStatus==0} ?true:false" />&nbsp;Draft&nbsp;

                                </div>
                                <div class="form-group float-right" id="BLogButton" style="display:flex;">
                                    <button type="button" id="ReturnBlogList" onsubmit="return false;"
                                            class="btn btn-secondary">Return Posts List
                                    </button>&nbsp;&nbsp;
                                    <button type="button" id="SaveBlogButton" onsubmit="return false;"
                                            class="btn btn-info">Save Post
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.js}"></script>
<script src="https://kit.fontawesome.com/684fe6b1fc.js" crossorigin="anonymous"></script>
<script th:src="@{/admin/dist/js/profile.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/edit.js}"></script>
<!-- jqgrid -->
<script th:src="@{/admin/plugins/jqGrid-5.3.0/js/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqGrid-5.3.0/js/i18n/grid.locale-en.js}"></script>
<!-- sweetalert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Editor.md -->
<script th:src="@{/admin/plugins/editor.md-master/editormd.min.js}"></script>
<script th:src="@{/admin/plugins/editor.md-master/languages/en.js}"></script>
<!--Tagsinput -->
<script th:src="@{/admin/plugins/jQuery-Tags-Input/dist/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
</body>
</html>