<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::header-fragment"></head>
<link rel="stylesheet" th:href="@{/blog/css/detail.css}"/>
<!-- highlight -->
<link rel="stylesheet" th:href="@{/blog/js/highlight/styles/github.css}" />
<body>
<header th:replace="blog/header::nav-fragment"></header>
<div class="widewrapper main mt-3 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog-main">
                <article class="blog-post">
                    <div class="markdown-body editormd-preview-container" previewcontainer="true" >
                        <h1 th:text="${blogDetailVo.blogTitle}"></h1>
                        <div class="meta">
                            <i class="fa fa-calendar"></i>
                            <th:block th:text="${#dates.format(blogDetailVo.createTime, 'yyyy-MM-dd')}">
                            </th:block>
                            <span class="separator">&#x2F;</span>
                            <img
                                    th:src="@{${blogDetailVo.blogCategoryIcon}}"
                                    style=" margin-top: -4px;height: 16px;width: 16px;"
                                    alt="my personal blog"/>
                            <a th:href="@{'/category/' + ${blogDetailVo.blogCategoryName}}">&nbsp;<th:block th:text="${blogDetailVo.blogCategoryName}">
                            </th:block>
                            </a>
                        </div>
                        <div class="meta">
                            <p class="post-tags">
                                <th:block th:each="tag : ${blogDetailVo.blogTags}">
                                    <a th:href="@{'/tag/' + ${tag}}">
                                        <th:block th:text="${tag}"></th:block>
                                    </a>
                                </th:block>
                            </p>
                        </div>
                        <th:block th:utext="${blogDetailVo.blogContent}" />
                    </div>
                </article>
                <div class="back-top" id="back-top" style="display:none">
                    <a href="#top"><i class="fas fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="blog/footer::footer-fragment"></div>
<!-- Editor.md -->
<script th:src="@{/admin/plugins/editor.md-master/editormd.min.js}"></script>
<script th:src="@{/admin/plugins/editor.md-master/languages/en.js}"></script>
<script type="text/javascript">
    $('.navbar').removeClass('navbar-light');
    $('.navbar').addClass('bg-dark');
     $('.navbar').addClass('navbar-dark');

    $(function () {
        // return back to top
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

    });
    var  content;
    content = $('h3').html()[2];
    console.log(content);
    $(function ()
    {
      if(content === "hardware")
     {
       $('img').css({
       'width':'10%',
       });
      }

     });

</script>
</body>
</html>