<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::header-fragment"></head>
<link rel="stylesheet" th:href="@{/blog/css/resume.css}"/>
<body>
<!--banner-->
<div class="projectsbanner position-relative">
    <div class="container mainnav">
        <header th:replace="blog/header::nav-fragment"></header>
    </div>
    <img th:src="@{/blog/img/resume_banner.jpg}" width="100%">
</div>
<div class="widewrapper main">
    <div class="section-content">
        <div class="container">
            <div class="section-title-block">
               <h2 class="section-titile">Resume</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-inner">
                        <div class="block-title">
                            <span>Education</span>
                        </div>

                        <div class="mt-3 timeline timeline-style clearfix">
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2017-2019</h5>
                                    <span class="item-company">University of Studies</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Technical University of Munich (TUM), Germany</h4>
                                    <p><strong>M.Eng.</strong> Electrical Engineering and Information Technology
                                        (Double Degree of TUM and Tongji University in Shanghai)</p>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2015-2017</h5>
                                    <span class="item-company">University of Studies</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Tongji University,Shanghai, China</h4>
                                    <p><strong>M.Eng.</strong>Control theory and Control Engineering</p>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2011-2015</h5>
                                    <span class="item-company">University of Studies</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Huaqiao University, Xiamen, China</h4>
                                    <p><strong>M.Eng.</strong>Measurement and Control Technology and Instruments</p>
                                </div>
                            </div>
                        </div>

                        <div class="fw-divider-space" style="padding-top: 30px;"></div>

                    </div>
                    <div class="col-inner">
                        <div class="block-title">
                            <span>Projects</span>
                        </div>
                        <div class=" mt-3 timeline timeline-style clearfix">
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2019-current</h5>
                                    <span class="item-company">Freelancer</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">
                                        <a href="http://www.yanxia.eu/detail/60">Intelligent Remote Surveillance System based on Raspberry Pi</a>
                                    </h4>
                                    <ul>
                                        <li>Remote Surveillance System website design and implement based on <strong>Springboot(Java Framework),Bootstrap 4, HTML/CSS and Javascript</strong>.</li>
                                        <li>Remote communication between remote Surveillance System website and Raspberry pi with <strong>Websocket</strong>. </li>
                                        <li>Detected humans images store in <strong>database(MySQL)</strong> and Visualization in Remote Surveillance System website.</li>
                                        <li>Video real time streaming</li>
                                        <li>Remote control of the camera with PWM.</li>
                                        <li>Detected person automatic tracking and notification by using a trained AI model.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">
                                        <a href="http://www.yanxia.eu/detail/66">
                                          Personal website and its background administration system design
                                        </a>
                                    </h4>
                                    <ul>
                                        <li>Website design and its content writing.</li>
                                        <li>Frontend development by with <strong>HTML/CSS,Bootstrap 4,Javascript and jQuery</strong> etc. </li>
                                        <li>Backend development with <strong>Springboot(Java Framework), SpringMVC and MySQL</strong>.</li>
                                        <li>Testing and deploy to single-board chip(Raspberry Pi) with </strong> Docker</strong>.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">
                                        <a href="http://www.yanxia.eu/detail/62">
                                        Coronavirus Information Website
                                        </a>
                                    </h4>
                                    <ul>
                                        <li>Data collection by using <strong>web crawler</strong> written in <strong>Python</strong>.</li>
                                        <li>Website design and its content writing.</li>
                                        <li>Website coding with <strong>Vue.js</strong>.</li>
                                        <li><strong>Continuous Deploy</strong> to <strong>Github</strong> Pages with Github Actions.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2018 - 2019</h5>
                                    <span class="item-company">Master Thesis</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">

                                    <h4 class="item-title">
                                        <a href="http://www.yanxia.eu/detail/67">
                                        Performance Evaluation of GANs for Face Identifications Tasks against Image Degradations
                                        </a>
                                    </h4>
                                    <ul>
                                        <li>A trained model generating images and removing their occlusion based on<strong> Python and TensorFlow</strong>.</li>
                                        <li>An image descriptor used for <strong>faces recognition</strong>.</li>
                                        <li>The good performance prove of GANs for faces recognition tasks against image degradation.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-inner">
                        <div class="block-title">
                            <span>Language Skills</span>
                        </div>
                        <div class="mt-3 timeline timeline-style clearfix">
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">Chinese</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Native language</h4>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">English</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Written and spoken fluently</h4>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">German</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">B2</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-inner">
                        <div class="block-title">
                            <span>Engineering Skills</span>
                        </div>
                        <div class="mt-3 timeline timeline-style clearfix">
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">Software IDE</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">IDEA, Pycharm, Visual Studio Code, Eclipse</h4>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">Programming skills</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Java, Python, C++,Javascript, HTML/CSS</h4>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">Frameworks</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Springboot, Mybatis, Vue.js, Bootstrap4</h4>
                                </div>
                            </div>
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">Others</h5>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">MySQL, Thymeleaf, SpringMVC, Jquery, TensorFlow,Embedded System</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="col-inner">
                    <a class="btn" th:href="@{/download}">Download CV</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="blog/footer::footer-fragment"></div>
<script>
$(window).scroll(function(){
      var scrollTop = $(this).scrollTop();
      console.log(scrollTop);
      if(scrollTop>50){
         $('.navbar').addClass('bg-primary');
      }
      else{
         $('.navbar').removeClass('bg-primary');
      }
})
</script>
</body>
</html>