
.blog-main {
    padding-top: 16px;
    padding-bottom: 10px;
}
.blog-main .post-tags {
    font-size: 14px;
    word-wrap: break-word;
    margin: 0;
    padding: 5px 0 15px;
    border-bottom: 1px solid #e0e0e0;
}

.post-tags a:nth-child(1n) {
    color: #fff;
    border: 1px solid #6fa3ef;
    border-radius: 15px;
    background: #6fa3ef;
}

.post-tags a:nth-child(2n) {
    color: #fff;
    border: 1px solid #ff9800;
    border-radius: 15px;
    background: #ff9800;
}
.editormd-preview-container, .editormd-html-preview {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
}
.post-tags a:nth-child(3n) {
    color: #fff;
    border: 1px solid #46c47c;
    border-radius: 15px;
    background: #46c47c;
}

.post-tags a:nth-child(4n) {
    color: #fff;
    border: 1px solid #df63ff;
    border-radius: 15px;
    background: #df63ff;
}

.post-tags a:nth-child(5n) {
    color: #fff;
    border: 1px solid #e8583d;
    border-radius: 15px;
    background: #e8583d;
}

.post-tags a:nth-child(6n) {
    color: #fff;
    border: 1px solid #15dfff;
    border-radius: 15px;
    background: #15dfff;
}

.post-tags a {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 4px 8px 0 0;
    padding: 0 15px;
    text-decoration: none !important;
    letter-spacing: 0;
}
.back-top {
  text-align: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 99;
  background-color: blue;
  border-radius: 50%;
}
.back-top i{
  font-size: 30px;
}
.back-top a {
  text-decoration: none;
  color:white;
}
blockquote{
    margin-bottom: 15px;
    padding: 2px 0 0px 10px;
    border-left: 5px solid #dce1e0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 2.5em;
    font-style: italic;
}

.markdown-body p img {
     max-width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}