
.projectscontents .section-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px 0 0px;
}
.projectsbanner{
height:210px;
display:block;
background-size:cover;
position:relative;
}
.projectsbanner-info{
position:absolute;
top:40%;
left:8%;
}
.motto{
color:white;
font-size:25px;
font-weight:600;
text-transform: uppercase;
}
.projectscontents h2{
color:#302b7b;
width: 100%;
font-size: 35px;
font-weight: 700;
text-transform: uppercase;
}
#mainnav .nav-link:hover {
background-color:#c3c2c7;
}
.search{
    width:100%;
    padding-left:20px;
}
.searchname{
   float:left;
   color:green;

.searchname p{
color:black;
}
}
.clean-searchbox{
    margin-bottom: 20px;
    float:right;
}
#searchbox {
border:1px solid #a3adb7;
padding: 3px 30px 3px 20px;
background-color:#f6e5ff;
color:#5e5f60;
font-family: "Times New Roman", Times, serif;
font-size:16px;
border-radius: 4px;
}
#searchbox:focus,
#searchbox:hover{
border:1px solid #555;
border-radius: 4px;
}

.searchbutton{
margin-left:20px;
background: transparent;
border: none !important;
}

.category-name{
margin-left:10px;
margin-right:20px;
font-family: "Times New Roman", Times, serif;
font-size:15px;
}
.createtime{
color:#5e5f60;
margin-left:450px;
margin-right:1px;
font-family: "Times New Roman", Times, serif;
font-size:15px;
}
.blog-main,.blog-aside{
    margin-top:20px;
    margin-bottom: 20px;
}
.blog-main-card{

    margin-bottom: 10px;
}
.blog-summary{
   border:1px solid #b5b2b2;
}

.blog-summary header a > img{
margin-bottom: 20px;
height:236px;
width:100%;
}

.blog-summary header h3{
height:86px;
font-size:18px;
margin-top:0px;
font-family: Microsoft Yahei;
}
.blog-category{
text-align: right;
}
.blog-categoryName{
    color: #428bca;
    padding:10px;
    font-family: Microsoft Yahei;
}
.blog-category .blog-category-icon img{
float:right;
width:32px;
height:32px;
margin-left:15px;
margin-right:15px;

}
.blog-summary header a{
font-family: "Times New Roman", Times, serif;
font-size:15px;
text-decoration:none;
color:#343a40;
}
.blog-main img {
    max-width: 100%;
}
.page{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-pagination li{
    display:inline

}
.blog-pagination > li > a{
    padding: 6px 12px;
    text-decoration:none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -4px;
}
.blog-pagination > li > a:hover{
  background-color:#b9b6b6;
  color:#007bff;
}
.blog-pagination > .active > a{
background-color:#007bff;
color:#fff;
}
.showNothing{
    margin:40px auto;

}
.showNothing span{
    color:red;
}